<div class="row kc-sale-point">
  <div class="col-md-5 col-xs-12 kc-sale-point__col-1">
    {{ content.field_images }}
  </div>

  <div class="col-md-7 col-xs-12 kc-sale-point__col-2">
    <div class="kc-sale-point__address">
      {{ content.field_address }}
    </div>

    <div class="kc-sale-point__phone">
      {{ content.field_phone }}
    </div>

    <div class="kc-sale-point__op-mode">
      {{ content.field_operating_mode }}
    </div>
  </div>

  <div class="row g-0 kc-sale-point__body">
    {{ content.body }}
  </div>
</div>
