<div{{attributes}}>
  {% if minus %}
    {{ minus }}
  {% endif %}

  {% if quantity %}
    {{ quantity }}
  {% endif %}

  {% if add_to_cart_link %}
    {{ add_to_cart_link }}
  {% endif %}

  {% if plus %}
    {{ plus }}
  {% endif %}
</div>
