{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}


{%
  set classes = [
    'accordion',
    'main-catalog',
    'collapse'
  ]
%}

{% set main_id = 'mainCatalog' %}
{% set main_id_mobile = 'mainCatalogMobile' %}

<a class="main-catalog__collapse-btn btn btn-secondary btn-sm rounded-pill d-none d-md-block" data-bs-toggle="collapse" href="#{{ main_id }}" role="button" aria-expanded="false" aria-controls="{{ main_id }}">
  <span class="main-catalog__text">
    {{ 'Catalog'|t }}
  </span>
</a>

<a class="main-catalog__collapse-btn btn btn-secondary btn-sm rounded-pill d-block d-sm-none" data-bs-toggle="collapse" href="#{{ main_id_mobile }}" role="button" aria-expanded="false" aria-controls="{{ main_id_mobile }}">
  <span class="main-catalog__icon-wrapper">
    <span class="main-catalog__line main-catalog__line--top">
    </span>
    <span class="main-catalog__line main-catalog__line--bottom">
    </span>
  </span>
</a>


<div{{ attributes.addClass(classes).setAttribute('id', main_id) }}>

  <div class="container">

    <div class="main-catalog__cols main-catalog__cols--lg d-flex">
      <button class="btn-close float-end" type="button" data-bs-toggle="collapse" data-bs-target="#{{ main_id }}" aria-label="Close"></button>
      <div class="main-catalog__items">
        {% for item in items %}

          {% set index = loop.index %}

          {% set id = 'mainCatalogItem'~index %}
          {% set heading_id = 'mainCatalogHeading'~index %}
          {% set aria_control = 'mainCatalogCollapse'~index %}

          <div class="accordion-item">
            <div class="accordion-header" id="{{ heading_id }}">
              <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ aria_control }}" aria-expanded="{{ index == 1 ? 'true' : 'false' }}" aria-controls="{{ aria_control }}">

                {{ link(item.title, item.url) }}
              </div>
            </div>
          </div>


        {% endfor %}
      </div>

      <div class="main-catalog__body">

        {% set main_id = 'mainCatalog' %}

        {% for item in items %}

          {% set index = loop.index %}

            {% set id = 'mainCatalogItem'~index %}
            {% set heading_id = 'mainCatalogHeading'~index %}
            {% set aria_id = 'mainCatalogCollapse'~index %}

            <div id="{{ aria_id }}" class="main-catalog__body-item accordion-collapse collapse{{ index == 1 ? ' show': '' }}" aria-labelledby="{{ heading_id }}" data-bs-parent="#{{ main_id }}">

              <div class="main-catalog__body-heading">
                {{ link(item.title, item.url, { class:['main-catalog__body-heading-link'] }) }}
              </div>

              {% if item.below %}

                {% for below_item in item.below %}
                  <div class="main-catalog__body-item-heading">
                    {{ below_item.title }}
                  </div>

                  {% if below_item.below %}
                    <div class="main-catalog__body-item-links">
                      {% for item in below_item.below %}
                        <div class="main-catalog__body-item-link-item">
                          {{ link(item.title, item.url, { class:['main-catalog__body-item-link'] }) }}
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}

                {% endfor %}

              {% else %}

                {% if index == 1 %}
                  {{ drupal_block('main_catalog_body_brands_form_block') }}
                {% endif %}

              {% endif %}
            </div>
        {% endfor %}

      </div>
    </div>

  </div>
</div>


<div{{ attributes.addClass(classes).addClass('main-catalog--mobile').setAttribute('id', main_id_mobile) }}>
  {# Mobile #}
  <div class="main-catalog__cols main-catalog__cols--sm">
    <div class="main-catalog__items">
      {% for item in items %}

        {% set index = loop.index %}

        {% set id = 'mainCatalogItem'~index %}
        {% set heading_id = 'mainCatalogHeading'~index %}
        {% set aria_control = 'mainCatalogCollapse'~index %}

        <div class="accordion-item">
          <div class="accordion-header" id="{{ heading_id }}">
            <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ aria_control }}" aria-expanded="{{ index == 1 ? 'true' : 'false' }}" aria-controls="{{ aria_control }}">
              {{ link(item.title, item.url) }}
            </div>
          </div>

          {% set id = 'mainCatalogItem'~index %}
          {% set heading_id = 'mainCatalogHeading'~index %}
          {% set aria_id = 'mainCatalogCollapse'~index %}

          <div id="{{ aria_id }}" class="main-catalog__body-item accordion-collapse collapse{{ index == 1 ? ' show': '' }}" aria-labelledby="{{ heading_id }}" data-bs-parent="#{{ main_id_mobile }}">

            <div class="main-catalog__body-heading">
              {{ link(item.title, item.url, { class:['main-catalog__body-heading-link'] }) }}
            </div>

            {% if item.below %}

              {% for below_item in item.below %}
                <div class="main-catalog__body-item-heading">
                  {{ below_item.title }}
                </div>

                {% if below_item.below %}
                  <div class="main-catalog__body-item-links">
                    {% for item in below_item.below %}
                      <div class="main-catalog__body-item-link-item">
                        {{ link(item.title, item.url, { class:['main-catalog__body-item-link'] }) }}
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}

              {% endfor %}

            {% else %}

              {% if index == 1 %}
                {{ drupal_block('main_catalog_body_brands_form_block') }}
              {% endif %}

            {% endif %}
          </div>
        </div>

      {% endfor %}
    </div>
  </div>
  {# Mobile #}
</div>
