<div class="kc-product-card kc-product-card--short">

  <div class="kc-product-card__top">
    <div class="kc-product-card__flag-wrapper">
      {{ flag_link }}
    </div>

    <div class="kc-product-card__product-img">
      <a href="{{ url }}" class="kc-product-card__product-link kc-product-card__product-link--img">
        {{ img }}
      </a>
    </div>
  </div>

  <div class="kc-product-card__bottom kc-product-card__bottom--short">
    <div class="kc-product-card__heading">
      <a href="{{ url }}" class="kc-product-card__product-link kc-product-card__product-link--short kc-product-card__product-link--title">
        {{ title }}
      </a>
    </div>

    <div class="kc-product-card__product-price kc-product-card__product-price--short">
      {{ price }}
    </div>

    <div class="kc-product-card__product-add-to-cart">
      {{ add_to_cart }}
    </div>
  </div>

</div>
