{#
/**
 * @file
 * Template for orders in the 'user' view mode.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: The rendered order fields.
 *   Use 'order' to print them all, or print a subset such as
 *   'order.order_number'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order|without('order_number') }}
 *   @endcode
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass(['kc-order', 'kc-order--lk-short']) }}>
  <div class="customer-information kc-order__info">
    <div class="customer-information kc-order__heading d-flex justify-content-between align-items-center">
      <div class="kc-order__order-info">
        {{ 'Order lk'|t }}
        {{ order_entity.id }}
      </div>
      <div class="d-flex justify-content-end">
        {{ drupal_link('Order details'|t, path('view.lk_order_page.page_1', {'arg_0': order_entity.id}), {
          'attributes': {'class': 'kc-order__read-more-link'}
        }) }}
      </div>
    </div>

    <div class="col-md-12 col-sm-12 customer-information kc-order__link">


      <div class="order-information">
        {{ order.order_items }}
      </div>
    </div>
  </div>
</div>
