{% if price %}
  <span class="kc-price__value">{{ price }}</span> <span class="kc-price__symbol">{{ symbol }}</span>
{% endif %}

{% if old_price %}
  <del>{{ old_price }} {{ symbol }}</del>
{% endif %}

{% if percent %}
  <span class="discount">{{ percent }}</span>
{% endif %}
